@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

 /* header */

.header-container {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
}

.header {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

.links {
    display: flex;
    gap: 15px;
}

.links a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    opacity: 70%;
}

/* hero text section */

.hero-container {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
}

.hero-section {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.right, .left {
    height: 200px;
    width: 450px;
    display: flex;
}

.left {
    flex-direction: column;
}
.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.caption {
    color: #e5e7eb;
    opacity: 70%;
    margin-bottom: 8px;
}

.sign-up {
    width: 120px;
    height: 35px;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
}

.right {
    background-color: rgba(229, 231, 235, 50%);
    justify-content: center;
    align-items: center;
}

.image-placeholder {
    color: #f9faf8;
}

/* info */

.info-container {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    padding: 50px;
}

.content-container {
    display: flex;
    gap: 32px;
}

.content {
    width: 175px;
    display: flex;
    flex-direction: column;
}

.photo-border {
    width: 175px;
    height: 175px;
    border: 4px solid #3882f6;
    border-radius: 16px;
    margin-bottom: 12px;
}

.photo-caption {
    opacity: 60%;
    text-align: center;
}

/* quote section */

.quote-container {
    height: 300px;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-content {
    font-size: 26px;
    font-style: italic;
    margin-bottom: 12px;
}

.quote-credit {
    text-align: right;
    font-weight: 700;
}